@font-face {
    font-family: ZenKurenaido;
    src: url(fonts/ZenKurenaido-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.corPrincipal{
    background-color: #132835;
}

.segundaCor{
    background-color: #1C494F;
}

.corClara{
    background-color: #EEDB89;
}

.corClaraTexto{
    color: #EEDB89;
}


a, a:visited, a:active{
    text-decoration: none;
    color: black;
}

body{
    font-family:ZenKurenaido, roboto ;
    /*background-color: whitesmoke*/
}

header{
    height: 10vh;
    position: relative;
    
}

.area{
    position: relative;
    display: block;
    min-height: 42vh;
}

.logo{
    display: block;
    width: 100px;
    height: 100%;
    position: relative;
}

.logo img{
    top: 12%;
    right: 0;
    position: absolute;
    width: 80%;
    border-radius: 50%;
    border: 3px solid #1C494F;
}

.borda{
    border: 3px solid #132835;
}
.links{
    position: absolute;
    right: 0;
    bottom: 1vh;
}

ul li{
    display: inline;
    margin-right: 5vw;
    color: #EEDB89;
}

.retangulo, quadro{
    width: 40%;
    height: 40vh;
}

.retangulo{
    display: inline-block;
    width: 25%;
    height: 490px;
    margin: 6% 12.3%;
    position: relative;
}

.retanguloTexto{
    height: 300px;
}

.quadro{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    right: -10%;
}

.quadro img{
    width: 100%;
    height: 100%;
}

.texto{
    position: absolute;
    width: 150%;
    top: 34%;
}

.textoAEsquerda{
    left: -60%;
}

.textoADireira{
    left: 10%;
}

.texto p{
    padding: 3%;
}

.maior{
    font-size: 30px;
}

.tituloArea{
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid #1C494F;
    width: 70%;
    margin: auto;
}


main{
    position: relative;
}

.quadros{
    height: 22vh;
    width: 20%;
    margin: 2.25%;
    display: inline-block;
}

.quadroExperiencias{
    width: 100%;
    height: 25%;
    background-size: cover;
}

.aviacao{
    background-image: url(img/aviacao.jpg);
}
.femass{
    background-image: url(img/femass.jpg);
}
.fgb{
    background-image: url(img/BusinessCardLogo.jpg);
}

.fgb:hover, .femass:hover, .labenu:hover{
    background-size: contain;
}
.labenu{
    background-image: url(img/labenu.png);
    background-color: white;
}

.quadroExperiencias:hover{
    height: 100%;
    position: absolute;
    top: 0;
}
.quadroExperiencias:hover .textoExperiencia{
    display: block;
    position: absolute;
    bottom: 0;
    /*background-color: rgba(255, 255, 255, 0.8)*/
}

.textoExperiencia{
    display: none;
    padding: 1vw;
    text-align: justify;
}


.nomeProjeto{
    text-align: center;
    height: 100%;
    background-color: rgba(28, 73, 79, 0);
}

.m3{
    background-image: url(img/m3.PNG);
    background-size: contain;
}

.netFlix{
    background-image: url(img/netflixr.PNG);
    background-size: contain;
}

.instagram{
    background-image: url(img/instragram.PNG);
    background-size: contain;
}

.deliFoods{
    background-image: url(img/food.PNG);
    background-size: contain;
}

.nomeProjeto p{
    padding: 25%;
    font-weight: 600;
}

.nomeProjeto:hover{
    opacity: 1;
    background-color: rgba(28, 73, 79, 0.8);
}

.comportamentais, .tecnicas,.formularios{
    padding: 22px;
}

.esquerda{
    text-align:left
}

.centro{
    text-align: center;
}

.direita{
    text-align: right;
}

.redesSociais{
    height: 42vh;
    width: 50%;
}

.habilidades ul li{
    display: block;
    font-size: 20px;
    margin-bottom: 1.6%;
    margin-left: 2%;
    color: #132835;
}

.habilidades ul li .barraCinza{
    height: 8px;
    background-color: #132835;
    position: relative;
    display: inline-block;
    width: 16%;
}
.barraCinza .barraProgresso{
    position: absolute;
    height: 100%;
    background-color: #EEDB89;
    left: 0;
}
.javaScript{
    width: 70%;
}
.flutter{
    width: 50%;
}
.php{
    width: 30%;
}
.typeScript{
    width: 20%;
}
.dart{
    width: 20%;
}

.formulario{
    float: right;
}

.tecnicas{
    text-align: center;
}

.habilidades p{
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
}
.habilidades p span{
    font-weight: 600;
}
.container{
    position: relative;
    height: 50%;
}

.quadradoRedes{
    display: inline-block;
    width: 14%;
    height: 90%;
    margin: 0.5% 17%;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook{
    background-image: url(https://cdn-icons-png.flaticon.com/512/174/174848.png);
}

.redeInstagram{
    background-image: url(https://cdn-icons-png.flaticon.com/512/2111/2111463.png);
}

.github{
    background-image: url(https://cdn-icons-png.flaticon.com/512/270/270798.png);
}

.linkedin{
    background-image: url(https://cdn-icons-png.flaticon.com/512/124/124011.png);
}
.formulario{
    position: absolute;
    right: 10%;
    top: 2%;
    width: 30%;
}

form div{
    margin: 3%;
}

form label{
    font-weight: 600;
}
form input{
    width: 80%;
    border: none;
    border-bottom: 1px solid #132835;
}

textarea{
    display: block;
    width: 99%;
}

.contato{
    margin-top: 2%;
}

form button{
    border: none;
    background-color: #1C494F;
    color: #EEDB89;
    width: 100%;
    padding: 2%;
}

form button:hover{
    background-color: #132835;
    
}

footer{
    position: relative;
    text-align: center;
    margin-top: 3%;
}
